
<% if(typeof errors!= 'undefined') { %>
<%    errors.forEach(function(error){ %>
	<hr>
    <p> <%= error.msg %></p>
<%    })        %>
<% } %>

<% if(success_msg!= '') { %>
        <p><%=success_msg %> </p>
      <% } %>

<% if(error_msg != '') { %>
	<hr>
      <p><%= error_msg %></p> 
      <% } %> 
<% if(error != '') { %>
	<hr>
       <p><%= error %> </p>
      <% } %> 