   <!-- MAP component -->
        <section id="map" class="section-map">
                <img class="map-img" src="assets/img/bg.jpg"  usemap="#bg-map" />

                <map name="bg-map">
                    <area shape="rect" coords="11,11,150,120" alt="Vidin" class="" href="#mapVidin">
                    <area shape="rect" coords="150,120,333,250" alt="Varna" class="" href="#mapVarna">
                    <area shape="rect" coords="150,120,333,250" alt="Plovdiv" class="" href="#mapPlovdiv">
                    <area shape="rect" coords="150,120,333,250" alt="Sofia" class="" href="#mapSofia">
                    
                </map>






        <div class="popup map__destination--popup" id="mapVidin">
            <div class="popup__content">
                
                <div class="popup__right">
                    <a href="#exit-popup" class="popup__close">&times;</a>
                    <h2 class="heading-secondary u-margin-bottom-small">Дестинации около Видин</h2>

                    <div class="row destination__container">
                        <div class="destination__picture--container">
                            <a href="destination.html"><img src="assets/img/destinations/babavida.jpeg" alt="login photo" class="popup__img"></a>
                        </div>
                        <div class="destination__content--container">
                            <h3>
                                <a href="destination.html">
                                    Крепост "Баба Вида"
                                </a>
                                </h3>
                            <p>„Баба Вида“, наричана и „Бабини Видини кули“, е средновековна крепост във Видин. Считана е за единствената изцяло запазена крепост в България. Служи за замък на местния владетел през Средновековието.

                            Имената, с които е известна крепостта днес, произхождат от легенда за сестрите Вида, Кула и Гъмза, наследили местен владетел. Вида, най-голямата, изгражда замъка, който е наречен на нея „Бабини Видини кули“ и съкратено „Баба Вида“.</p>
                        </div>
                        <div class="destination__info--container">
                            <h2>Рейтинг</h2>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span> 

                        </div>
                        
                    </div>



                     <div class="row destination__container">
                        <div class="destination__picture--container">
                            <a href="destination.html">
                                <img src="assets/img/destinations/babavida.jpeg" alt="login photo" class="popup__img">
                            </a>
                        </div>
                        <div class="destination__content--container">
                            <h3><a href="destination.html">Крепост "Баба Вида"</a></h3>
                            <p>„Баба Вида“, наричана и „Бабини Видини кули“, е средновековна крепост във Видин. Считана е за единствената изцяло запазена крепост в България. Служи за замък на местния владетел през Средновековието.

                            Имената, с които е известна крепостта днес, произхождат от легенда за сестрите Вида, Кула и Гъмза, наследили местен владетел. Вида, най-голямата, изгражда замъка, който е наречен на нея „Бабини Видини кули“ и съкратено „Баба Вида“.</p>
                        </div>
                        <div class="destination__info--container">
                            <h2>Рейтинг</h2>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span> 

                        </div>
                        
                    </div>





                     <div class="row destination__container">
                        <div class="destination__picture--container">
                            <a href="destination.html">
                                 <img src="assets/img/destinations/babavida.jpeg" alt="login photo" class="popup__img">
                             </a>
                        </div>
                        <div class="destination__content--container">
                            <h3><a href="destination.html">Крепост "Баба Вида"</a></h3>
                            <p>„Баба Вида“, наричана и „Бабини Видини кули“, е средновековна крепост във Видин. Считана е за единствената изцяло запазена крепост в България. Служи за замък на местния владетел през Средновековието.

                            Имената, с които е известна крепостта днес, произхождат от легенда за сестрите Вида, Кула и Гъмза, наследили местен владетел. Вида, най-голямата, изгражда замъка, който е наречен на нея „Бабини Видини кули“ и съкратено „Баба Вида“.</p>
                        </div>
                        <div class="destination__info--container">
                            <h2>Рейтинг</h2>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span> 

                        </div>
                        
                    </div>
                   
                    
                </div>
            </div>
        </div>

        
        </section>