 <!-- Most visited places -->
        <section class="section-most-visited" id="most-visited">
            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-secondary">
                    Най-популярните обекти
                </h2>
            </div>

            <div class="row">
                <div class="col-1-of-2">
                    <h3 class="heading-tertiary u-margin-bottom-small">Варна</h3>
                    <p class="paragraph">
                        Ва̀рна е най-големият град в Североизточна България, разположен по бреговете на Черно море и Варненското езеро и е административен център на едноименните община и област. Той е най-големият град в Северна България и по българското Черноморие. Населението на града по сведения на НСИ към 31 декември 2019 г
                    </p>

                    <h3 class="heading-tertiary u-margin-bottom-small">Етъра</h3>
                    <p class="paragraph">
                        Етнографски музей на открито „Етър“, или Етъра, е музей на открито в едноименния квартал на Габрово.

Представлява възстановка на българския бит, култура и занаятчийство. Той е първият по рода си музей в България. Открит е на 7 септември 1964 г. Музеят е разположен на 8 км южно от основната част на Габрово.
                    </p>

                   <!-- <a href="#" class="btn-text">Още &rarr;</a> -->
                </div>
                <div class="col-1-of-2">
                    <div class="composition">

                        <img 
                             alt="Photo 1"
                             class="composition__photo composition__photo--p1"
                             src="assets/img/most-1.jpg">

                        <img 
                             alt="Photo 2"
                             class="composition__photo composition__photo--p2"
                             src="assets/img/most-2.jpg">

                        <img 
                             alt="Photo 3"
                             class="composition__photo composition__photo--p3"
                             src="assets/img/most-3.jpg">

                      
                    </div>
                </div>
            </div>
        </section>