  <!-- Stories component -->
        <section class="section-stories" id="stories">
            <div class="bg-video">
                <video class="bg-video__content" autoplay muted loop>
                    <source src="assets/img/video.mp4" type="video/mp4">
                    <source src="assets/img/video.webm" type="video/webm">
                    Браузърът Ви не се поддържа
                </video>
            </div>

            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-secondary">
                    Наистина щастливи хора :)
                </h2>
            </div>

            <div class="row">
                <div class="story">
                    <figure class="story__shape">
                        <img src="assets/img/stori-1.jpg" alt="Person on a tour" class="story__img">
                        <figcaption class="story__caption">Марчело Маскарпоне</figcaption>
                    </figure>
                    <div class="story__text">
                        <h3 class="heading-tertiary u-margin-bottom-small">Най-добрата гледка</h3>
                        <p>
                            След като се качихме на връх кот... Дъхът ми спря за миг. Мисля че не съм бил на по добро място никога преди
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="story">
                    <figure class="story__shape">
                        <img src="assets/img/stori-2.jpg" alt="Person on a tour" class="story__img">
                        <figcaption class="story__caption">Мяу Пухански</figcaption>
                    </figure>
                    <div class="story__text">
                        <h3 class="heading-tertiary u-margin-bottom-small">Уааау! Житовът ми е вече различен!</h3>
                        <p>
                            Откакто посетих Варна, вече не мога да гледам на чайките по същия начин. Те ровят в кофите и са по нагли от домашните котки.
                            Мисля, че видях как чайка яде котка. Манйдблоуинг
                        </p>
                    </div>
                </div>
            </div>

           <!-- <div class="u-center-text u-margin-top-huge">
                <a href="#" class="btn-text">Още &rarr;</a>
            </div>
        -->
        </section>