

        <!-- Footer component -->

        <footer class="footer" id="footer">

            <div class="row">
                 <div class="col-1-of-2">
                        <img alt="Full logo" src="/assets/img/logo.png">
                </div>

                 <div class="col-1-of-2">
                     <div class="footer__navigation">
                        <ul class="footer__list">
                            <li class="footer__item"><a href="/#" class="footer__link">Начало</a></li>
                            <li class="footer__item"><a href="/#map" class="footer__link">Избери Локация</a></li>
                            <li class="footer__item"><a href="/#most-visited" class="footer__link">Най-посещавани</a></li>
                            <li class="footer__item"><a href="/#stories" class="footer__link">Отзиви</a></li>
                            <li class="footer__item"><a href="/login#login" class="footer__link">Вход за потребители</a></li>
                        </ul>
                    </div>

                     <p class="footer__info">
                        <div>Изготвил: <strong>Натали Христова</strong> Фак. № <strong>661317017</strong></div>
                        <div>Научен ръководител <strong>гл.ас. доц д-р. А. Ташева</strong></div>
                         <div>Консултант <strong>гл. ас. д-р. инж. С.Ангелова</strong></div>
                    </p>
                 </div>
            </div>
                        
        </footer>

    

        <script src="js/places-modal.js"></script> 
        <script src="js/login.js"></script>
        <script src="js/footer.js"></script>

    </body>
</html>