.section-map {
    padding: 35px;
    overflow: hidden;

}

.map-img {
    display: block;
    margin: 0px auto;
    width: 100%;
    height: auto;
}

.map__destination--popup {

	.destination__info--container {
		.checked {
			color: $logo-tone-green;
		}
	}

	.popup__img {
		max-width: 15rem;
		max-height: 15rem;
	}
}


.destination__container {

	&.row {
		@include bp(phone) {
		padding: 0;
		}
	}

	.destination__picture--container

	 {
		width: 20%;
		float: left;

		@include bp(phone) {
			width: 100%;
			.popup__img {
				width: 100%;
				max-width: 100%;
			}
		}
	}

	.destination__content--container {
		float: left;
		width: 60%;
		h3, h3>a {
			font-size: 2.2rem;
			letter-spacing: 0.3rem;
			color: $color-primary;
			text-decoration: none;
		}

		p {
			display: inline-block;
			font-size: 1.2rem;
			margin-top: 1.5rem;
			max-height: 60px;
			overflow: hidden;
	
  
		}
		@include bp(phone) {
			width: 100%;
			
		}
	}

	.destination__info--container {
		float: right;
		width: 20%;
		text-align: center;
		h2, span {
			font-size: 1.3rem;
		}
		@include bp(phone) {
			width: 100%;
			margin-top: 1rem;
			text-align: left;
			
		}
	}

	&.row {
		&:not(:last-child) {
			margin-bottom: 3.5rem;
		}
	}


	&:not(:first-child){
		margin-top: 3.5rem;
	}

	&:not(:last-child) {
		margin-bottom: 3.5rem;
		padding-bottom: 3.5rem;
		border-bottom: 1px solid $logo-tone-grey;
	}
}

