.comments__container {
    padding: 4rem;
}


.destination {
    &__container {
        padding-top: 4rem;
        padding-bottom: 4rem;

        .col-1-of-2 {
            position: relative;
        }

        .destination {
            &__image {
                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                max-width: 100%;
                margin: 0px auto;
                display: block;
               
            }


            &__blog {
                &--title {

                }

                &--text {
                    font-size: 1.6rem;
                    margin-top: 3rem;
                }
            }

        }
    }
}

.header {
    &.header__destination {
        &.header__destination--babavida {
            background-image: linear-gradient(to right, rgba(20,0,0,1.1), rgba(0,0,30,0.3)), url(../../assets/img/babavida.jpg);
        }
    }
}

.desginaton__title {
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, #999999, #333333);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
}