*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
font-family: "Lato", sans-serif;
font-weight: 400;
font-size: 62.5%;
line-height: 1.7;
color: #777;
box-sizing: border-box;


@include bp(tab-port) {
	padding: 0;
}
}

#destinationModal {
&.open {display:block;}
&.closed {display:none;}

} 

html {
	scroll-behavior: smooth;
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include bp(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include bp(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include bp(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}


::selection {
    background-color: $color-primary;
    color: $color-white;
}

